.App {
	text-align: center;
}

.indicator {
	margin: 20px 0;
	height:50px;
	line-height:50px;
	padding:0 20px;
}
.indicator.active{
	color: rgb(225,0,80);
	background:rgb(251, 224, 234);
}
.title{
	width:80%;
	height:100%;
	line-height:50px;
	text-align:left;
	float:left;
}
.icon{
	width:20%;
	height:100%;
	line-height:50px;
	text-align:right;
	float:right;
	cursor:pointer;
	color:#666;
}